<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="theme-color" content="#23e056">
	<meta property="og:title" content="<%=file%>">
	<meta property="og:type" content="video.other">
	<meta property="og:video:url" content="http://nuha-s.imps-for.me/<%=ending%>">
	<meta property="og:video:secure_url" content="http://nuha-s.imps-for.me/<%=ending%>">
	
	<meta property="twitter:player" content="/Images/<%=file%>">
	<meta property="og:video:type" content="video/mp4">
	
</head>

<body>
	<video controls>
		<source src="/Images/<%=file%>" type="video/mp4">
		<source src="/Images/<%=file%>" type="video/mov">
	</video>
</body>

</html>
