<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="theme-color" content="#23e056">
	<meta property="og:title" content="<%=file%>">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:player" content="/Images/<%=file%>">
	<meta name="twitter:player:stream" content="/Images/<%=file%>">
	<meta name="twitter:player:stream:content_type" content="video/mp4">
</head>

<body>
	<video controls>
		<source src="/Images/<%=file%>" type="video/mp4">
		<source src="/Images/<%=file%>" type="video/mov">
	</video>
</body>

</html>