<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="theme-color" content="#23e056">
	<meta property="og:title" content="<%=file%>">
	<meta name="twitter:card" content="summary_large_video">
	<meta id="discord" name="twitter:video" content="/Images/<%=file%>">
	<meta id="image-src" name="twitter:video:src" content="/Images/<%=file%>">

</head>

<body>
	<video controls>
		<source src="/Images/<%=file%>" type="video/mp4">
		<source src="/Images/<%=file%>" type="video/mov">
	</video>
</body>

</html>